html, body
{
    height: 100%;
    margin:0;
    padding:0;
    background-color: #000000;
}

div {
    position:relative;
    height: 100%;
    width:100%;
}

div img {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}

#timer {
    background-color: white;
    position: absolute;
    width: 100px;
    height: 55px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#points {
    background-color: white;
    position: absolute;
    width: 100px;
    height: 55px;
    top: 30%;
    left: 60%;
    transform: translate(-50%, -50%);
}

